@using CarSellApp.Models
@using DhaoCarSell.Services
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}


<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/assets/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Dhao Cars</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files  -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

   

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/slider-image-1-1600x800.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              @*<h4>@Localizer["h4"]</h4>
              <h2>@Localizer["h2"]</h2>*@
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div style="display: flex; margin:0px">    

   <aside>
     <div class="products">
      <div class="container">
        <div class="row">          
          <div class="col-md-18">
             <div class="contact-form">
                <form action="#">  

                     <label>@Localizer["Make"]:</label>
                     
                     <select class="form-control">
                          <option value="">-- @Localizer["All"] --</option>         
                     </select>

                     <label>@Localizer["Model"]:</label>
                     
                     <select class="form-control">
                          <option value="">-- @Localizer["All"] --</option>
                     </select>

                     <label>@Localizer["Price"]:</label>
                     
                     <select class="form-control">
                          <option value="">-- @Localizer["All"] --</option>
                     </select>

                     <label>@Localizer["Mileage"]:</label>
                     
                     <select class="form-control">
                          <option value="">-- @Localizer["All"] --</option>
                     </select>

                     <label>@Localizer["Engine"]:</label>
                     
                     <select class="form-control">
                          <option value="">-- @Localizer["All"] --</option>
                     </select>

                     <label>@Localizer["Power"]:</label>
                     
                     <select class="form-control">
                          <option value="">-- @Localizer["All"] --</option>                      
                     </select>

                     <label>@Localizer["Fuel"]:</label>
                     
                     <select class="form-control">
                          <option value="">-- @Localizer["All"] --</option>
                     </select>                  

                     <button type="submit" class="filled-button btn-block">@Localizer["Search"]</button>
                </form>
             </div>
          </div>                         
        </div>
      </div>
    </div>     
  </aside>

        <main style="float: left">
            <div class="col-md-9" style=" float: right">
        <div class="row">

          @foreach(var car in Model)
          {
            <div class="col-md-6">
                <div class="product-item">
                  <a href="@Url.Action("CarDetails", "Home", new{id = car.Id})"><img src="~/assets/images/@car.Image" alt=""></a>
                  <div class="down-content">
                     <h4>@car.Make @car.Model</h4>

                    <h6><small><del> €11179.00</del></small> €@car.Price</h6>

                    <p>@car.Power @Localizer["Hp"] &nbsp;/&nbsp; @car.Fuel &nbsp;/&nbsp; @car.Year.Year </p>

                    <small>
                      <strong title="@Localizer["Author"]:"><i class="fa fa-dashboard"></i> @car.Km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                      <strong title="@Localizer["Author"]:"><i class="fa fa-cube"></i> @car.CmCube</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                    </small>
                  </div>
                </div>
              </div> 
          
           }

           </div>
         </div>
       </main>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
  </body>

</html>

